h1, h2, h3, h4, h5, h6, h7 {
  color: "white";
  text-align: center;
  text-shadow:
    0 0 5px #fff,  
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px #fff,
    0 0 50px #fff;
}
